<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".TwinSpaceApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwinSpace">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".virtual.C1" android:process=":c1" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C2" android:process=":c2" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C3" android:process=":c3" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C4" android:process=":c4" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C5" android:process=":c5" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C6" android:process=":c6" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C7" android:process=":c7" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity android:name=".virtual.C8" android:process=":c8" android:exported="false" android:excludeFromRecents="true" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>
</manifest>
